<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>WEATHER</title>
    <link rel="stylesheet" href="/css/indexHBS.css">
    

</head>
<body>
    <h1>WEATHERY FOR YOU</h1>

    <form id="locationForm">
        <input id="locationInput"> <button type="submit">search</button>
    </form>
    
    <script src="/js/index.js"></script>
</body>
</html>